<!DOCTYPE html>
<html>
    <head>
        <title>Hemlata's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Hemlata's Blog</a></h1>
        </header>

        <article>
            <time>published: 17.06.2021, 6:00</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post :)</p>
        </article>

        <article>
            <time>published: 17.06.2021, 6:14</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my first post :)</p>
        </article>
    </body>
</html>
